name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  format:
    uses: ./.github/workflows/on-workflow-call-format.yml

  lint:
    uses: ./.github/workflows/on-workflow-call-lint.yml

  test:
    uses: ./.github/workflows/on-workflow-call-test.yml

  build:
    uses: ./.github/workflows/on-workflow-call-build.yml

  publish:
    if: github.ref == 'refs/heads/main'
    needs: [format, lint, test, build]
    uses: ./.github/workflows/on-workflow-call-publish.yml
    secrets: inherit
